.anuncie_seus_servicos {
    background-image: url('../../resources/imagens/prestador_feliz.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 620px;
    font-family: 'Open Sans';
    line-height: calc(2vw + 5px);
}

.anuncie_seus_servicos .mensagem_central {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-top: 19%;
    margin-left: 19%;
    width: 35%;

}

.anuncie_seus_servicos .mensagem_central h1 {
    font-family: 'Baloo Paaji 2';
    font-weight: bold;
    font-size: calc(3vw);
    color: rgb(255, 182, 0);
}

.anuncie_seus_servicos .mensagem_central p {
    font-size: calc(2vw);
    color: rgb(89, 89, 89);
    margin-top: 8px;
}

.formulario_inicial_prestador {
    position: absolute;
    top: 100px;
    right: 5%;
    width: 33%;
    background-color: white;
    border-radius: 40px;
    border: 2.5px rgb(237, 237, 237) solid;
}
