.navegacao_auxiliar_cardapio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans';
    background-color: white;
    z-index: 15;
    position: fixed;
    width: 100%;
    border-bottom: 1px rgb(219, 219, 219) solid;
}

.navegacao_auxiliar_cardapio .links ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.navegacao_auxiliar_cardapio .links .ativa {
    color: rgb(255, 182, 0);
}

.animacao_barra_auxiliar-appear {
    opacity: 0.01;
}

.animacao_barra_auxiliar-appear.animacao_barra_auxiliar-appear-active {
    opacity: 1;
    transition: opacity 1.2s;
}