.pagina_cardapio .divisao_colunas {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(237, 235, 220);
    box-sizing: border-box;
    font-family: 'Open Sans';
}

.pagina_cardapio .divisao_colunas .principal {
    width: calc(100vw - 347px);
}

.pagina_cardapio .divisao_colunas .principal .conteudo {
    padding: 4% 5%;
    width: 100%;
    box-sizing: border-box;
}

.pagina_cardapio h4 {
    color: rgb(89, 89, 89);
    font-size: 20px;
    margin-bottom: 20px;
}

.pagina_cardapio h6 {
    color: rgb(151, 153, 155);
    font-size: 18px;
    margin-bottom: 10px;
}

.pagina_cardapio .bold {
    font-weight: bold;
}

.pagina_cardapio .divisao_colunas .principal footer .principal {
    width: 84%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagina_cardapio .divisao_colunas .principal footer .containers {
    width: 100%;
}

.pagina_cardapio .divisao_colunas .principal footer .adomi {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    
}

.pagina_cardapio .divisao_colunas .principal footer .adomi p {
    width: 400px;
}