.links_rapidos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 84%;
    margin: 60px auto;
}

.links_rapidos h2 {
    color: rgb(239, 106, 0);
    font-size: 30px;
    font-family: 'Baloo Paaji 2';
    font-weight: bold;
    margin-bottom: 20px;
}

.links_rapidos .links_por_servico {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.links_por_servico .titulo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.links_por_servico .titulo img {
    height: 26px;
    padding-right: 5px;
}

.links_por_servico .titulo h3 {
    font-family: 'Baloo Paaji 2';
    font-weight: bold;
    font-size: 22px;
    color: rgb(151, 153, 155);
}

.links_por_servico .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}