.pergunta_e_resposta .pergunta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px rgb(219, 219, 219) solid;
}

.pergunta_e_resposta .pergunta h6 {
    color: rgb(89, 89, 89);
    font-size: calc(1.3vw);
}

.pergunta_e_resposta .pergunta img {
    height: 25px;
    cursor: pointer;
}

.pergunta_e_resposta .pergunta .false {
    transform: rotate(180deg);
}

.pergunta_e_resposta .resposta p {
    font-size: calc(1.2vw);
    line-height: calc(1.5vw);
    margin: 10px 0;
    color: rgb(151, 153, 155);
}