nav {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
}

.info_covid {
    display: flex;
    justify-content: center;
    background-color: rgb(239, 235, 220);
    font-family: 'Open Sans';
    font-size: 14px;
    padding: 7px;
}

.info_covid a{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.navbar {
    width: 100%;
    padding: 7px 0;
    border-bottom: 1px rgb(219, 219, 219) solid;
    background-color: white;
}

nav .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    margin: 0 auto;
}

.logo img {
    height: 45px;
    margin: auto 0;
    cursor: pointer;
}

.barra_de_busca form.barra_de_busca_reduzida {
    position: static;
    margin: 0;
}

.links {
    display: flex;
    align-items: center;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 18px;
    color: rgb(82, 82, 82);
}

.links  * {
    margin: 0 10px;
    cursor: pointer;
}

.links  *:hover {
    color: rgb(165, 165, 165);
}

.links div {
    display: flex;
    align-items: center;
    padding: 5px 8px;
    border-radius: 20px;
    color: rgb(239, 106, 0);
    border: 2.5px rgb(219, 219, 219) solid;
}

.links div:hover {
    box-shadow: 2px 2px 4px rgb(165, 165, 165);
}

.links div * {
    margin: 0 2px;
    color: rgb(239, 106, 0);
}

.links div *:hover {
    color: rgb(239, 106, 0);
    transform: scale(1.0);
}

.links div img:hover {
    transform: scale(1.0);
}

.links img:hover {
    transform: scale(1.1);
}

.login {
    display: flex;
}

.links img, .login img {
    height: 25px;
}

.container div {
    margin: 0;
}


.animação_info_covid-appear {
    height: 0px;
}

.animação_info_covid-appear.animação_info_covid-appear-active {
    height: 14px;
    transition: all 0.5s;
}

.animação_barra_busca-appear {
    opacity: 0.01;
}

.animação_barra_busca-appear.animação_barra_busca-appear-active {
    opacity: 1;
    transition: opacity 0.5s;
}