.como_funciona_prestador {
    width: 100%;
    text-align: center;
    background-color: rgb(237, 235, 220);
    font-family: 'Open Sans';
    font-size: 20px;
    line-height: 24px;
    padding: 5% 0;
}

.como_funciona_prestador .container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 90%;
    padding: 50px 0;
    margin: 0 5%;
    text-align: center;
    background-color: white;
    border-radius: 40px;
}

.como_funciona_prestador h2 {
    color: rgb(255, 182, 0);
    font-family: 'Baloo Paaji 2';
    font-size: 35px;
    padding-bottom: 40px;
    font-weight: bold;
}

.como_funciona_prestador .informacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    padding: 15px 0;
}

.como_funciona_prestador .informacao img {
    height: 120px;
}

.como_funciona_prestador .informacao h6 {
    padding: 5px 0;
    font-weight: bold;
}