h1, h2 {
    font-family: 'Baloo Paaji 2';
}

.titulo_e_servicos div {
    text-align: center;
}

.sorriso {
    position: absolute;
    
}

.sorriso.amarelo {
    width: 14%;
    top: 100px;
}

.sorriso.laranja {
    width: 7%;
    left: 93%;
    top: 160px;
}

.titulo_e_servicos h1 {
    font-size: 30px;
    font-weight: bold;
    color: rgb(239, 106, 0);
}

.titulo_e_servicos h2 {
    font-size: 22px;
    color: rgb(124, 124, 124);
}

.titulo {
    margin-top: 45px;
}

.servicos {
    display: flex;
    justify-content: center;
    font-family: 'Open Sans';
    color: black;
    font-size: 18px;
    margin-top: 45px;
    margin-bottom: 15px;
}

.servicos div {
    display: flex;
    align-items: center;
    margin: 0 30px;
    padding-bottom: 3px;
    cursor: pointer;
}

.servicos div:hover {
    color: rgb(165, 165, 165);
}

.servicos div img {
    height: 20px;
    padding-right: 5px;
}

.servicos div span {
    margin: 5px;
    padding: 4px;
    font-size: 12px;
    font-weight: bold;
    background-color: rgb(255, 182, 0);
    color: white;
    border-radius: 5px;
}

.servicos .ativo {
    border-bottom: 3px rgb(239, 106, 0) solid;
}

.servicos .inativo {
    border-bottom: 3px white solid;
}

.barra_de_busca {
    margin: 20px 0 5px 0;
    position: relative;
}

.barra_de_busca img {
    margin: 0 8%;
    width: 84%;
    z-index: -1;
}

.barra_de_busca form {
    position: absolute;
    bottom: 60px;
    left: 50%;
    margin-left: -35%;
}

.descricao {
    display: block;
    font-family: 'Open Sans';
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.descricao p {
    font-size: 20px;
    color: rgb(124, 124, 124);
    margin-bottom: 20px;
}

.descricao a {
    font-size: 18px;
    color: rgb(239, 106, 0);
    border-bottom: 0.5px rgb(165, 165, 165) solid;
    cursor: pointer;
    padding: 2px;
    text-decoration: solid;
}