.barra_navegacao_ultra_reduzida {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
    width: 100%;
    padding: 7px 0;
    border-bottom: 1px rgb(219, 219, 219) solid;
    background-color: white;
    z-index: 15;
}

.barra_navegacao_ultra_reduzida img.logo {
    height: 45px;
    margin: auto 0;
    cursor: pointer;
}

.barra_navegacao_ultra_reduzida img.voltar {
    position: absolute;
    top: 14px;
    left: 2%;
    height: 31px;
    width: auto;
    cursor: pointer;
    transform: rotate(270deg);
}